@import "tailwindcss";


@layer base {
  body, #root {
    background: transparent;
    margin: 0;
  }
}

.btn {
  --curve-size: 0.8em;

  background: linear-gradient(135deg, #ffffff, #139daf);
  color: #000;
  padding: 0.7em 2em;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;

  border: none;
  cursor: pointer;

  clip-path: polygon(
    0% var(--curve-size),
    var(--curve-size) 0,
    100% 0,
    100% calc(100% - var(--curve-size)),
    calc(100% - var(--curve-size)) 100%,
    0 100%
  );

  transition: all 0.2s ease;
}




.play-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;
  border-radius: 50%;

  background: linear-gradient(135deg, #ffffff, #139daf);
  color: black;

  transition: all 0.2s ease;
  border: none;
  cursor: pointer;
}


